{%- doc -%}
  Renders "also available in" products styled like variant swatches.
  
  @param {object} product - The current product
  @example
  {% render 'also-available-in', product: product %}
{%- enddoc -%}

{% liquid
  # Get cb_product_list metafield (list of cb_product_group metaobjects)
  assign product_groups_list = blank
  assign has_product_groups = false
  
  if product.metafields.custom.cb_product_list != blank and product.metafields.custom.cb_product_list.value != blank
    assign product_groups_list = product.metafields.custom.cb_product_list.value
    
    # Check if it's a list
    if product_groups_list.count != blank and product_groups_list.count > 0
      assign has_product_groups = true
    endif
  endif
%}

{% comment %} Render all groups that contain the current product {% endcomment %}
{% if has_product_groups and product_groups_list != blank %}
  {% for product_group in product_groups_list %}
    {% liquid
      assign group_products = product_group.products.value
      assign current_option_value = blank
      assign product_in_group = false
      
      # Check if current product is in this group's products
      for product_option in group_products
        assign option_product = product_option.product.value
        if option_product.id == product.id
          assign product_in_group = true
          assign current_option_value = product_option.option_value.value | default: product_option.option_value
          break
        endif
      endfor
    %}
    
    {% comment %} Only render this group if current product is in it {% endcomment %}
    {% if product_in_group %}
      {% liquid
        assign option_name = product_group.option_name.value | default: product_group.option_name
      %}
      
      <fieldset class="variant-option variant-option--buttons variant-option--swatches variant-option--image-thumbnails" data-fieldset-index="also-available-in-{{ forloop.index }}">
        <legend class="variant-option__legend">
          <span>
            <span class="variant-option__label-text">
              {{ option_name }}{% if current_option_value != blank %}: <span class="variant-option__selected-value">{{ current_option_value }}</span>{% endif %}
            </span>
          </span>
        </legend>
        
        {% comment %} Show all products from the group {% endcomment %}
        {% for product_option in group_products %}
          {% liquid
            assign option_product = product_option.product.value
            assign is_current_product = false
            if option_product.id == product.id
              assign is_current_product = true
            endif
            
            # Get product image
            assign product_image = option_product.selected_or_first_available_variant.featured_media
            if product_image == blank
              assign product_image = option_product.featured_media
            endif
            if product_image != blank
              assign thumbnail_image = product_image.preview_image | default: product_image
            endif
          %}
          
          <label
            class="variant-option__button-label variant-option__button-label--has-swatch variant-option__button-label--image-thumbnail{% if is_current_product %} variant-option__button-label--current-product{% endif %}"
            data-product-id="{{ option_product.id }}"
            {% if is_current_product %}data-current-product="true"{% endif %}
          >
            <a
              href="{{ option_product.url }}"
              style="display: block; width: 100%; height: 100%; text-decoration: none;"
            >
              {% if thumbnail_image %}
                <div class="variant-option__image-thumbnail">
                  {{
                    thumbnail_image
                    | image_url: width: 160
                    | image_tag:
                      loading: 'lazy',
                      alt: option_product.title | default: 'Product image',
                      class: 'variant-option__thumbnail-img',
                      widths: '80, 160'
                  }}
                </div>
              {% else %}
                <div class="variant-option__thumbnail-placeholder"></div>
              {% endif %}
            </a>
          </label>
        {% endfor %}
      </fieldset>
    {% endif %}
  {% endfor %}

  <style>
    /* Match exact styling from variant-main-picker for image thumbnails */
    .variant-option--image-thumbnails[data-fieldset-index^="also-available-in"] {
      margin-top: 0;
      margin-bottom: 18px;
    }

    .variant-option--image-thumbnails[data-fieldset-index^="also-available-in"] .variant-option__button-label--image-thumbnail[data-current-product="true"],
    .variant-option--image-thumbnails[data-fieldset-index^="also-available-in"] .variant-option__button-label--image-thumbnail.variant-option__button-label--current-product {
      border: 1px solid #7295BB;
    }

    .variant-option--image-thumbnails[data-fieldset-index^="also-available-in"] .variant-option__button-label--image-thumbnail[data-current-product="true"]:hover,
    .variant-option--image-thumbnails[data-fieldset-index^="also-available-in"] .variant-option__button-label--image-thumbnail.variant-option__button-label--current-product:hover {
      border-color: #7295BB;
    }
  </style>
{% endif %}
