{%- doc -%}
  Renders a single mega menu column (parent link + child links).
  Used by mega-menu-list for the split first/rest layout.
{%- enddoc -%}

<div>
  <a
    href="{{ link.url }}"
    class="mega-menu__link {% if link.links != blank %}mega-menu__link--parent{% endif %}"
    {% if menu_content_type == 'collection_image' and link.type == 'collection_link' %}
      data-collection-handle="{{ link.object.handle }}"
      data-collection-image-link="true"
      {% liquid
        assign collection_image_url = ''
        if link.object.featured_image
          assign collection_image_url = link.object.featured_image | image_url: width: 1200
        elsif link.object.products.size > 0
          assign product_with_image = link.object.products | where: 'featured_image' | first
          if product_with_image.featured_image
            assign collection_image_url = product_with_image.featured_image | image_url: width: 1200
          endif
        endif
      %}
      {% if collection_image_url != blank %}
        data-collection-image-url="{{ collection_image_url }}"
      {% endif %}
    {% endif %}
  >
    {% if menu_content_type == 'collection_images' %}
      {%- capture collection_image_sizes -%}
        {%- if parent_link.links.size <= 4 -%}
          {%- assign columns_per_item = 2 -%}
        {%- else -%}
          {%- assign columns_per_item = 1 -%}
        {%- endif -%}
        {%- render 'util-mega-menu-img-sizes-attr',
          menu_content_type: 'collection_images',
          settings: settings,
          grid_columns: grid_columns_count,
          grid_columns_tablet: grid_columns_count_tablet,
          grid_columns_collection_images: grid_columns_count_collection_images,
          parent_links_size: parent_link.links.size,
          columns_per_item: columns_per_item
        -%}
      {%- endcapture -%}
      {% render 'link-featured-image', link: link, class: 'mega-menu__link-image', sizes: collection_image_sizes %}
    {% endif %}
    <span class="mega-menu__link-title wrap-text">{{- link.title -}}</span>
  </a>
  {% if link.links != blank %}
    <ul
      class="list-unstyled"
      {% if should_break_columns %}
        style="column-count: {{ column_span }};"
      {% endif %}
    >
      {% for childLink in link.links %}
        {% assign break_after_modulo = forloop.index | modulo: links_before_wrap %}
        <li {% if break_after_modulo == 0 and should_break_columns %}style="break-after: column;"{% endif %}>
          <a
            href="{{ childLink.url }}"
            class="mega-menu__link"
            {% if menu_content_type == 'collection_image' and childLink.type == 'collection_link' %}
              data-collection-handle="{{ childLink.object.handle }}"
              data-collection-image-link="true"
              {% liquid
                assign child_collection_image_url = ''
                if childLink.object.featured_image
                  assign child_collection_image_url = childLink.object.featured_image | image_url: width: 1200
                elsif childLink.object.products.size > 0
                  assign child_product_with_image = childLink.object.products | where: 'featured_image' | first
                  if child_product_with_image.featured_image
                    assign child_collection_image_url = child_product_with_image.featured_image | image_url: width: 1200
                  endif
                endif
              %}
              {% if child_collection_image_url != blank %}
                data-collection-image-url="{{ child_collection_image_url }}"
              {% endif %}
            {% endif %}
          >
            <span class="mega-menu__link-title wrap-text">{{- childLink.title -}}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
