

{%- assign block_settings = block.settings -%}

{% capture title %}
  {% content_for 'block', id: 'heading', type: '_heading', text: article.title %}
{% endcapture %}

{% capture details %}
  {% content_for 'block',
    id: 'blog-post-details',
    type: '_blog-post-info-text',
    alignment: block_settings.alignment,
    article: article
  %}
{% endcapture %}

{% capture description %}
  {% content_for 'block', id: 'content', type: '_blog-post-description', article: article, show_read_more: true %}
{% endcapture %}

<div
  class="blog-post-card"
  style="--text-align: {{ block_settings.alignment }}"
>
  {%- if article.image -%}
    <div class="blog-post-card__image-container">
      <a href="{{ article.url }}">
        {% content_for 'block', id: 'image', type: '_blog-post-image', image: article.image %}
      </a>
    </div>
  {%- endif -%}

  <div class="blog-post-card__content">
    <a href="{{ article.url }}">{{ title }}</a>

    {%- if block_settings.show_read_time -%}
      <div class="blog-post-card__read-time">
        {% render 'blog-read-time', article: article %}
      </div>
    {%- endif -%}

    {{ details }}

    {{ description }}
  </div>
</div>

{% stylesheet %}
  .blog-post-card {
    display: flex;
    flex-direction: column;
    text-align: var(--text-align);
  }

  .blog-post-card__content {
    padding-block-start: 0.4rem;
    display: flex;
    flex-direction: column;
  }

  .blog-post-item .blog-post-card__image-container,
  .blog-post-item .blog-post-card__content {
    width: 100%;
  }

  .blog-post-card__content a {
    display: block;
    text-wrap: pretty;
    text-decoration: none;
    padding-block-start: 10px;
    color: var(--color-foreground);
  }

  .blog-post-card__content a:hover,
  .blog-post-card__content a:hover [style*='--color: var(--color-primary)'] {
    color: #7295BB;
  }

  .blog-post-card__content a:hover [style*='--color: var(--color-foreground-heading)'] {
    color: rgb(var(--color-foreground-heading-rgb) / var(--opacity-subdued-text));
  }

  .blog-post-card__content a:hover [style*='--color: var(--color-foreground)'] {
    color: rgb(var(--color-foreground-rgb) / var(--opacity-subdued-text));
  }

  .blog-post-card__read-time {
    margin-top: var(--gap-xs, 0.5rem);
    margin-bottom: 0;
  }

  .blog-post-card__read-time .blog-read-time {
    font-size: 14px;
    display: block;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.blog_post",
  "settings": [
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "t:settings.alignment",
      "default": "left"
    },
    {
      "type": "checkbox",
      "id": "show_read_time",
      "label": "Show read time",
      "default": false
    }
  ]
}
{% endschema %}
