
<div class="section-background color-{{ section.settings.color_scheme }}"></div>
<div
  class="section section--{{ section.settings.section_width }} color-{{ section.settings.color_scheme }}"
>
  <div
    class="theme-swatches-content spacing-style"
    style="
      {% render 'spacing-style', settings: section.settings %}
      --theme-swatches-gap: {{ section.settings.gap }}px;
    "
  >
    {% if section.settings.heading != blank or section.settings.subheading != blank %}
      <div class="theme-swatches-header">
        {% if section.settings.heading != blank %}
          <h2 class="theme-swatches-heading">{{ section.settings.heading }}</h2>
        {% endif %}
        {% if section.settings.subheading != blank %}
          <p class="theme-swatches-subheading">{{ section.settings.subheading }}</p>
        {% endif %}
      </div>
    {% endif %}
    {% content_for 'blocks' %}
  </div>
</div>

{% stylesheet %}
  .theme-swatches-content {
    contain: content;
    content-visibility: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 26px;
  }

  .theme-swatches-header {
    grid-column: 1 / -1;
    margin-bottom: 16px;
    text-align: center;
  }

  .theme-swatches-heading {
    margin: 0;
    font-family: 'Sacramento', cursive, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: #7295BB;
    text-align: center;
    text-transform: lowercase;
  }

  .theme-swatches-subheading {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-transform: uppercase;
    color: #1D425A;
    text-align: center;
  }

  .theme-swatch-image-wrapper {
    --theme-swatch-size: 76px;
    width: var(--theme-swatch-size);
    height: var(--theme-swatch-size);
    border-radius: 50%;
  }

  @media screen and (min-width: 750px) {
    .theme-swatches-content {
      gap: 38px;
    }

    .theme-swatches-header {
      margin-bottom: 24px;
    }

    .theme-swatches-heading {
      font-size: 38px;
    }

    .theme-swatches-subheading {
      font-size: 32px;
    }

    .theme-swatch-image-wrapper {
      --theme-swatch-size: 120px;
    }
  }

  @media screen and (min-width: 750px) and (max-width: 989px) {
    .theme-swatches-content {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media screen and (min-width: 990px) {
    .theme-swatches-content {
      grid-template-columns: repeat(6, 1fr);
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Theme Swatches",
  "class": "section-wrapper",
  "tag": "section",
  "blocks": [
    {
      "type": "theme-swatch"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:settings.gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    }
  ],
  "presets": [
    {
      "name": "Theme Swatches",
      "category": "Custom",
      "settings": {
        "gap": 20,
        "color_scheme": "scheme-1",
        "padding-block-start": 36,
        "padding-block-end": 36
      }
    }
  ]
}
{% endschema %}

